@font-face {
  font-family: 'Almoni';
  src: local('Almoni'), url(./fonts/almoni-400.ttf) format('ttf');
}

@font-face {
  font-family: 'Almoni-Bold';
  src: local('Almoni-Bold'), url(./fonts/almoni-700.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Almoni';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

